# Dominic's Final Project - EMS Data & Injury - 12.11.23

Have the number and type of injuries in the EMS field (x) affected the number of people pursuing a career in the field (y)?

My goal is to understand how enrollment in the EMS field has changed and if it correlates with the risk of injuries in the field.

In [121]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy import stats
import requests
import base64
import json
import urllib

In [122]:
ems_projections = pd.read_csv('Employment Projections for EMTs and Paramedics, 2022-32.csv')

In [123]:
ems_projections #Data collected from the US Bureau of Labor Statistics

,Occupational Title,"Employment, 2022","Projected Employment, 2032","Change, 2022-32 (Numeric)","Change, 2022-32 (Percentage)"
0,Emergency Medical Technicians and Paramedics,"269,000","283,600","14,600",5
1,Emergency Medical Technicians,"170,700","180,000","9,300",5
2,Paramedics,"98,300","103,600","5,300",5

In [124]:
ems_outlook = pd.read_csv('EMS Employment Outlook.csv')

In [125]:
ems_outlook #Data collected from the US Bureau of Labor Statistics

,Type of Work,2022 Employment,Projected 2032 Employment,"Employment Percent Change, 2022-2032"
0,Healthcare and social assistance,178.3,187.7,5.3
1,Ambulatory healthcare services,126.8,134.5,6.0
2,Offices of physicians,3.2,3.3,2.9
3,Offices of other health practitioners,0.5,0.6,12.7
4,Offices of all other health practitioners,0.5,0.5,11.6
5,Outpatient care centers,3.5,4.2,18.3
6,Medical and diagnostic laboratories,0.3,0.3,8.6
7,Other ambulatory healthcare services,119.2,126.0,5.7
8,Ambulance services,117.2,123.7,5.5
9,All other ambulatory healthcare services,2.0,2.3,18.2
10,"Hospitals; state, local, and private",50.6,52.2,3.3
11,"General medical and surgical hospitals; state,...",50.0,51.6,3.2
12,General medical and surgical hospitals; private,38.1,39.6,4.0
13,General medical and surgical hospitals; state,2.1,2.1,-0.5
14,General medical and surgical hospitals; local,9.8,9.9,0.7
15,Specialty (except psychiatric and substance ab...,0.6,0.6,9.4
16,Specialty (except psychiatric and substance ab...,0.5,0.6,10.1
17,Nursing and residential care facilities,0.3,0.3,8.0
18,Nursing care facilities (skilled nursing facil...,0.1,0.1,-2.6
19,Residential intellectual and developmental dis...,0.1,0.1,11.1
20,Residential mental health and substance abuse ...,0.1,0.1,11.1

In [126]:
ems_injuries_total = pd.read_csv('EMS Injuries (Total).csv') #All following data collected from the CDC

In [127]:
ems_injuries_total

  Number of Injuries (Total)
0                     16,900

In [128]:
ems_injuries_sex = pd.read_csv('EMS Demographics (Sex).csv')

In [129]:
ems_injuries_sex

      Sex  Total
0    Male  9,900
1  Female  7,000

In [130]:
ems_injuries_age = pd.read_csv('EMS Demographics (Age).csv')

In [131]:
ems_injuries_age

  Age Group (in yrs) Total (Age Group)
0                <25             2,800
1              25-34             7,000
2              35-44             3,800
3                >44             3,330

In [132]:
ems_injuries_bodypart = pd.read_csv('EMS Injury (Body Part).csv')

In [133]:
ems_injuries_bodypart

                  Body Part Affected Count (1)
0                Leg, including foot     3,200
1  Upper trunk, inc. neck & shoulder     3,000
2                                Arm     2,200
3                        Lower trunk     2,200
4                      Hand & finger     1,900

In [134]:
ems_injuries_diagnosis = pd.read_csv('EMS Injury (Diagnosis).csv')

In [135]:
ems_injuries_diagnosis

              Diagnosis Count (2)
0     Sprains & strains     4,000
1  Contusions/abrasions     2,600

In [136]:
ems_injuries_event = pd.read_csv('EMS Injury (event).csv')

In [137]:
ems_injuries_event

                              Event Count (3)
0    Overexertion & bodily reaction     5,200
1                          Violence     3,000
2                 Harmful exposures     2,500
3          Transportation incidents     2,500
4  Contact with objects & equipment     2,100
5               Falls, slips, trips     1,600

In [138]:
ems_injuries_source = pd.read_csv('EMS Injury (Source).csv')

In [139]:
ems_injuries_source

                                 Source Count (4)
0  Persons, plants, animals, & minerals     9,000
1                              Vehicles     4,100
2     Tools, instruments, and equipment     1,800

In the following section of my report, I will describe and begin to interpret the data. To understand my goal of how enrollment in the EMS field has changed and if it correlates with the risk of injuries in the field, I plan to use a scatter plot to visualize the data. I am choosing a scatter plot because since I have multiple, separate sets of data, I can group and experiment with different sets. I believe this will allow me to visualize a scatter plot that can show how data from different sets might correlate.

It would also be nice to calcualte a t-test. This test determines how significant a particular feature is between two different sets of data and see how they correlate this way.